
body {
    background: #333;
    color: white;
}


header {

    background: white;
    color: #333;
    width: 100px;

}


main {

    background: yellow;
    color: black;
    width: 200px;
    height: 200px;
}